<h1>You played rock.</h1>

<h1>The computer played <%= @computer_move %>.</h1>

<h1>You <%= @outcome %>!</h1>

<p><a href="http://localhost:3000/rock">Play rock.</a></p>
<p><a href="http://localhost:3000/paper">Play paper.</a></p>
<p><a href="http://localhost:3000/scissors">Play scissors.</a></p>
