<h1>You played scissors.</h1>

<img src="/assets/images/scissors.png" width="50">

<h1>The computer played <%= @computer_move %>.</h1>

<img src="/assets/images/<%= @computer_move %>.png" width="50">

<h1>You <%= @outcome %>!</h1>
