<!DOCTYPE html>
<html>
<head>
  <title>RockPaperScissors</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<p><a href="/rock">Play rock.</a></p>
<p><a href="/paper">Play paper.</a></p>
<p><a href="/scissors">Play scissors.</a></p>

</body>
</html>
